html
{
	font-family: fc_muffinregular;
	margin: 0;
	background-image: url("/material/image/other/bg1.jpg");
}

*
{
  box-sizing: border-box;
}

text
{
	fill:white;
}

.bar
{
  fill: rgb(222,184,135);
}

.board
{
	padding-bottom:2px;
	padding-top:2px;
}

.card-table
{
	background-image:url("/material/image/other/test1.jpg");
	height:720px;
	width:1220px;
	margin-left:149.5px;
	border-radius:8px;
}

#how_to_play
{
	background-image:url("/material/image/other/qs.png");
	position: absolute;
	height:51px;
	width:51px;
	margin-left:109px;
	margin-top:34px;
}

.deck
{
	position: absolute;
	height:52px;
	width:52px;
	margin-left:1139px;
	margin-top:146px;
}

.hand
{
	position: absolute;
	height:52px;
	width:151px;
	margin-left:65px;
	margin-top:172px;
}

.drop
{
	position: absolute;
	height:52px;
	width:151px;
	margin-left:65px;
	margin-top:244px;
}

.time
{
	position: absolute;
	height:51px;
	width:301px;
	margin-left:565px;
	margin-top:33px;
}

.point
 {
	position: absolute;
	height:51px;
	width:201px;
	margin-left:955px;
	margin-top:34px;
}
